@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

// Header style
.header {
	&-top {
		// border-radius: 3px;
		background-color: rgb(55, 56, 60);
		.list {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&-item {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				.fas {
					font-size: 12px;
					color: rgb(146, 153, 154);
					margin: 10px 10px 10px 0;
				}
				&__text {
					font-size: 12px;
					font-family: "Lato", sans-serif;
					font-weight: 400;
					color: rgb(146, 153, 154);
				}
			}
		}
	}

	&-bottom {
		margin: 60px 0 58px 0;
		.icons {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			width: 63px;
			.fab, .fas, .far {
				color: rgb(172, 184, 190);
				font-size: 20px;
				cursor: pointer;
			}
		}
		.fix {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: flex-end;
		}
		.nav {
			.list {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				&-item {
					&__link {
						font-size: 15px;
						font-family: "Lato", sans-serif;
						font-weight: 400;
						color: rgb(141, 150, 153);
						cursor: pointer;
						.img {
							cursor: pointer;
						}	
					}
				}
				// &-item:nth-child(1) {
				// 	margin-right: 37px;	
				// }
			}
		}

		.seporator {
			width: 100%;
			height: 1px;			
			background-color: rgb(204, 212, 214);
			margin: 60px 0 0 0;
		}
	}
}

// Product style
.product {
	margin-bottom: 190px;
	&-image {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	&-description {
		&__title {
			font-size: 50px;
			font-family: "Work Sans", sans-serif;
			font-weight: 200;
			color: rgb(113, 123, 127);
			line-height: 1.2;
			margin-bottom: 35px;
		}
		&__text {
			font-size: 15px;
			font-family: "Work Sans", sans-serif;
			color: rgb(141, 151, 155);
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1.2;
			margin-bottom: 15px;
		}
		.rating {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: flex-end;
			margin-bottom: 50px;
			&-stars {
				margin-right: 34px;
				.fas {
					font-size: 20px;
					color: #f8ce28;
				}
				.far {
					font-size: 20px;
					color: #afbbc0;
				}
			}
			&-comments {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				.fas {
					color: #acb8be;
				}
				&__link {
					margin-left: 10px;
					font-size: 13px;
					font-family: "Lato", sans-serif;
					font-weight: 400;
					color: rgb(141, 150, 153);
					text-decoration: underline;
					line-height: 1.2;
				}
			}
		}
		
		// TABS style
		.tabs {
			position: relative;
			&__btn {
				font-size: 18px;
				font-family: "Work Sans", sans-serif;
				font-weight: 400;
				color: rgba(113, 123, 127, 0.6);
				line-height: 1.2;
				border: 0;
				background-color: #fff;
				padding: 0;
				margin: 0 95px 0 0;
				// border-bottom: 1px solid #ccd4d6;
				&:hover {
					color: #4d9ad3;
					border-bottom: 1px solid #4d9ad3;
				}
			}
			&__btn:nth-child(3) {
				margin: 0 0 0 0;
			}
			.active {
				color: #4d9ad3;
				border-bottom: 1px solid #4d9ad3;
			}
			.separator {
				position: absolute;
				top: 21px;
				width: 100%;
				border-bottom: 1px solid #ccd4d6;
				z-index: -1;
			}
		}
		
		.desc {
			margin-bottom: 50px;
			.list {
				margin-top: 25px;
				&-item {
					&__text {
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
						align-items: baseline;
						font-size: 15px;
						font-family: "Lato", sans-serif;
						font-weight: 400;
						color: rgb(141, 150, 153);
						line-height: 1.8;
						.fas {
							font-size: 8px;
							margin-right: 10px;
						}
					}
				}
			}
		}
		.ing {
			justify-content: space-between;
			margin-top: 25px;
			margin-bottom: 50px;
			&-block {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: column;
				&__span {
					font-size: 15px;
					font-family: "Lato", sans-serif;
					font-weight: 400;
					color: rgb(141, 150, 153);
					line-height: 1.8;
				}
			}
		}
		.int {
			margin-top: 25px;
			margin-bottom: 50px;
			&__text {
				font-size: 15px;
				font-family: "Lato", sans-serif;
				font-weight: 400;
				color: rgb(141, 150, 153);
				line-height: 1.8;
			}
		}
		// /TABS style

		.seporator {
			width: 100%;
			border-bottom: 1px solid #ccd4d6;
		}
		
		.features {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 30px 0 35px;
			&-block {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: column;
				align-items: center;
				align-self: baseline;
				width: 71px;
				&__img {}
				&__text {
					font-size: 13px;
					font-family: "Lato", sans-serif;
					font-weight: 400;
					color: rgb(141, 150, 153);
					line-height: 1.154;
					text-align: center;
				}
			}
			&-block:nth-child(7) {
				width: 100px;
			}
			.seporator {
				display: inline-block;
				height: 71px;
				width: 1px;
				background-color: rgb(204, 212, 214);
			}
		}

		.buy {
			margin-top: 50px;
			&-top {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: space-between;
				.tag {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					align-items: center;
					color: #acb8be;
					.fas {
						transform: rotate(-90deg);
						font-size: 22px;
					}
					.fa-box {
						transform: rotate(0deg);
					}
					.far {
						font-size: 22px;
					}
					&__span {
						font-size: 13px;
						font-family: "Lato", sans-serif;
						font-weight: 400;
						line-height: 1.154;
						margin-left: 13px;
					}
				}
				.tag:nth-child(1) {
					color: rgb(65, 177, 141);
				}
			}

			&-bottom {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 34px 22px;
				background-color: #f6fbfb;
				margin-top: 13px;
				.cost {
					&__title {
						font-size: 40px;
						font-family: "Work Sans", sans-serif;
						font-weight: 300;
						color: rgb(77, 154, 211);
						line-height: 1.2;
					}
					&__span {
						font-size: 13px;
						font-family: "Lato", sans-serif;
						font-weight: 400;
						color: rgba(142, 154, 159, 0.702);
						line-height: 1.154;
					}
				}
				.amount {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					flex-direction: column;
					align-items: center;
					&__span {
						font-size: 17px;
						font-family: "Lato", sans-serif;
						font-weight: 400;
						color: rgb(113, 123, 127);
						line-height: 1.588;
					}

					.quantity {
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
						align-items: center;
						&__plus {
							border: 0;
							background-color: transparent;
							padding: 3px 6px;
						}
						&__price {
							border: 0;
							background-color: #f6fbfb;
							font-size: 17px;
							font-family: "WorkSans";
							color: rgb(113, 123, 127);
							padding: 0 0px 0 10px;
							width: 43px;
						}
						&__min {
							border: 0;
							background-color: transparent;
							padding: 3px 6px;
						}
					}
				}
				&__btn {
					font-size: 13px;
					font-family: "Lato", sans-serif;
					font-weight: 700;
					color: rgb(255, 255, 255);
					text-transform: uppercase;
					border: none;
					background-color: #4d9ad3;
					padding: 17px 82px 20px 80px;
					cursor: pointer;
				}
			}
		}
	}
}

// Impact style
.impact {
	&__title {
		font-size: 40px;
		font-family: "Work Sans", sans-serif;
		font-weight: 200;
		color: rgb(113, 123, 127);
		line-height: 1.2;
		text-align: center;
		margin-bottom: 35px;
	}
	&__text {
		font-size: 17px;
		font-family: "Lato", sans-serif;
		font-weight: 300;
		color: rgb(141, 150, 153);
		line-height: 1.588;
		text-align: center;
		margin-bottom: 90px;
	}

	.circle {
		margin-bottom: 215px;
		&__img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
		}
		.c1 {
			position: absolute;
			position: absolute;
			top: 57px;
			left: 55px;
			max-width: 100%;
			height: auto;
		}
		.c2 {
			position: absolute;
			top: 743px;
			left: 305px;
			max-width: 100%;
			height: auto;
		}
		// &__span {
		// 	font-size: 64px;
		// 	font-family: "Work Sans",sans-serif;
		// 	color: #7a8387;
		// 	text-align: left;
		// 	position: absolute;
		// 	left: -315px;
		// 	top: 285px;			
		// }
	}
}

// Slider style
.slider {
	&__title {
		font-size: 40px;
		font-family: "Work Sans", sans-serif;
		font-weight: 200;
		color: rgb(113, 123, 127);
		line-height: 1.2;
		text-align: center;
		margin-bottom: 35px;
	}
	&__text {
		font-size: 17px;
		font-family: "Lato", sans-serif;
		font-weight: 300;
		color: rgb(141, 150, 153);
		line-height: 1.588;
		text-align: center;
		margin-bottom: 90px;
	}

	.slider-capsule {
		&__img {
			max-width: 100%;
			height: auto;
		}
		&__text {
			font-size: 13px;
			font-family: "Lato", sans-serif;
			font-weight: 400;
			color: rgba(142, 154, 159, 0.702);
		}
	}
}

// Comparison style
.comparison {
	margin-bottom: 100px;
	&__title {
		font-size: 40px;
		font-family: "Work Sans", sans-serif;
		font-weight: 200;
		color: rgb(113, 123, 127);
		line-height: 1.2;
		text-align: center;
		margin-bottom: 35px;
	}
	&__img {
		max-width: 100%;
		height: auto;
		margin-bottom: 70px;
	}
	&-strong {
		&__title {
			font-size: 30px;
			font-family: "Work Sans", sans-serif;
			font-weight: 300;
			color: rgb(113, 123, 127);
			line-height: 1.2;
			margin-bottom: 11px;
		}
		&__text {
			font-size: 13px;
			font-family: "Work Sans", sans-serif;
			color: rgb(141, 151, 155);
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1.2;
			margin-bottom: 36px;
		}
		.list {
			&-item {
				margin-bottom: 17px;
				&__text {
					font-size: 17px;
					font-family: "Lato", sans-serif;
					color: rgb(141, 150, 153);
					line-height: 1.765;
					.fas {color: #5fcbab; margin-right: 20px;}
				}
			}
		}
	}

	&-common {
		&__title {
			font-size: 30px;
			font-family: "Work Sans", sans-serif;
			font-weight: 300;
			color: rgb(113, 123, 127);
			line-height: 1.2;
			margin-bottom: 11px;
		}
		&__text {
			font-size: 13px;
			font-family: "Work Sans", sans-serif;
			color: rgb(141, 151, 155);
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1.2;
			margin-bottom: 36px;
		}
		.list {
			&-item {
				margin-bottom: 17px;
				&__text {
					font-size: 17px;
					font-family: "Lato", sans-serif;
					color: rgb(141, 150, 153);
					line-height: 1.765;
					.fas {color: #e62d80; margin-right: 20px;}
				}
			}
		}
	}
}

// @media
@media (max-width: 1199px) {
	.impact .circle .c1 {left: 0px;}
	.impact .circle .c2 {top: 733px;left: 230px;}
}
@media (max-width: 991px) {
	.impact .circle .c1 {top: 50px;left: 0px;}
	.impact .circle .c2 {top: 545px;left: 135px;}
}
@media (max-width: 768px) {
	.header-top .list {flex-direction: column;}

	.header-bottom .icons {width: 100%;justify-content: center;margin: 10px 0;}
	.header-bottom .icons .fab:nth-child(1), .header-bottom .icons .fas {margin-right: 36px;}

	.impact .circle .c2 {top: 485px;left: 105px;}
}
@media (max-width: 575px) {
	.impact .circle .c1 {display: none;}	
	.impact .circle .c2 {display: none;}	
}
@media (max-width: 480px) {
	.product-description .tabs {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.product-description .tabs__btn {margin: 10px 0;}
	.product-description .tabs__btn:nth-child(3) {margin: 10px 0;}
	.product-description .tabs .separator {display: none;}
	.product-description .buy-bottom {flex-direction: column;}
	.buy-bottom .cost {
		text-align: center;
		margin: 0 0 10px 0;
	}
	.product-description .buy-bottom .amount {margin: 0 0 10px 0;}
	.product-description .features {flex-direction: column;justify-content: center;}
	.product-description .features-block {align-self: auto;margin: 0 0 10px 0;}
	.product-description .features .seporator {display: none;}
	.product-description .buy-top {flex-direction: column;align-items: center;}
	.product-description .buy-top .tag {margin: 0 0 10px 0;}
}
@media (max-width: 467px) {
	.header-bottom .nav .list {flex-direction: column;}
	.header-bottom .nav .list .list-item {margin: 10px 0;}
}




